# Copyright (c) 2024 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config VPR_LAUNCHER
	bool "VPR launcher"
	depends on (SOC_NRF54H20_CPUPPR || SOC_NRF54L15_ENGA_CPUFLPR)
	help
	  Include VPR launcher hex for application core.
