# SPDX-License-Identifier: Apache-2.0

menu "IPM Message Channel [$(nrfx_ipc_num)] configuration"

config IPM_MSG_CH_$(nrfx_ipc_num)_ENABLE
	bool "Enable IPM Message Channel $(nrfx_ipc_num)"

choice
	prompt "IPM Message Channel $(nrfx_ipc_num) direction"
	default IPM_MSG_CH_$(nrfx_ipc_num)_RX
	depends on IPM_MSG_CH_$(nrfx_ipc_num)_ENABLE

config IPM_MSG_CH_$(nrfx_ipc_num)_RX
	bool "RX"

config IPM_MSG_CH_$(nrfx_ipc_num)_TX
	bool "TX"

endchoice

endmenu
