# Copyright (c) 2024 Nordic Semiconductor ASA
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause

CONFIG_DEBUG=y

CONFIG_NRF_GRTC_TIMER=y

CONFIG_PINCTRL=y

# Enable GPIO
CONFIG_GPIO=y

CONFIG_RISCV_ALWAYS_SWITCH_THROUGH_ECALL=y