# Copyright (c) 2024 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config HAS_NRFE
	bool

config NRFE
	bool "nRF Emulated Peripherals support"
	depends on HAS_NRFE
	help
	  This option enables the nRF Emulated Peripherals.
